/* CSS for goldpricecafe mobile application */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace mx "library://ns.adobe.com/flex/mx";

/* Fonts */

@font-face {
	src: url("Michroma.ttf");
	fontFamily: michromaCFF;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: true;
}

@font-face {
	src: url("Michroma.ttf");
	fontFamily: michroma;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: false;
}

@font-face {
	src: url("MateSC-Regular.ttf");
	fontFamily: mateCFF;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: true;
}

@font-face {
	src: url("MateSC-Regular.ttf");
	fontFamily: mate;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: false;
}

@font-face {
	src: url("Codystar-Light.ttf");
	fontFamily: codystarCFF;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: true;
}

@font-face {
	src: url("Codystar-Light.ttf");
	fontFamily: codystar;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: false;
}

@font-face {
	src: url("LondrinaSketche-Regular.otf");
	fontFamily: londrinaCFF;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: true;
}

@font-face {
	src: url("LondrinaSketche-Regular.otf");
	fontFamily: londrina;
	fontWeight: normal;	
	fontStyle: normal;
	embedAsCFF: false;
}

global {
	
	color: #EEDD00;
	borderColor: #998800; 
	fontFamily: michroma;
	fontWeight: normal;	
	fontStyle: normal;	
}

.button, .radioBtn
{
	fontFamily: michroma;
	fontWeight: normal;	
	fontStyle: normal;
	chromeColor: #000000;
	paddingBottom: 10;
	paddingTop: 10;	
	glossiness: 15;
}

.bigButton 
{
	paddingBottom: 14;
	paddingTop: 14;	
}

.myLabel
{
	fontFamily: michromaCFF;
	font-lookup: embeddedCFF;
}


s|BusyIndicator
{
	symbolColor: #EEDD00; 
}

.radioBtn 
{
	paddingBottom: 4;
	paddingTop: 4;
	glossiness:20;
}

#indivChartBtn
{
	paddingLeft: 15;
	paddingRight: 15;	
}

s|Application {
	
	backgroundColor: #000000;	
}

#chartPanel {

	serie2DaysAgoColor: #333300;
	serie1DayAgoColor: #777700;
	serieTodayColor: #FFFF00;	
	serie2DaysAgoWidth: 3;
	serie1DayAgoWidth: 3;
	serieTodayWidth: 3;
	gridColor: #999999;
}

mx|DataTip {

	backgroundColor: #000000;
}

s|TextInput {
	
	color: #998800; 
	contentBackgroundColor: #050505;
	textAlign: right;
	paddingBottom: 0;
	paddingTop: 0;
	
}


.selected 
{
	chromeColor: #000000;
	borderColor: #FFFF00; 
	color: #FFFF00;
	flat: true;
}

/* Font sizes */

.fontBig {
	fontSize: 50;
}

.fontMedium {
	fontSize: 18;
}

.fontSmall {
	fontSize: 14;
}

.fontVerySmall {
	fontSize: 10;
}



