/* CSS for goldpricecafe mobile application */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace chartClasses "mx.charts.chartClasses.*";
@namespace gpc "com.goldpricecafe.mobile.*";

global {
	
	color: #777700;
	borderColor: #777700; 
	fontFamily: michroma;
	fontWeight: normal;	
	fontStyle: normal;	
}

#headerLabel {
	color: #777700;
}

#timeLabel {
	color: #777700;
}

.button, .radioBtn, .myDropDown 
{
	fontFamily: michroma;
	fontWeight: normal;	
	fontStyle: normal;
	chromeColor: #000000;
	paddingBottom: 10;
	paddingTop: 10;	
	glossiness: 15;
}

#okGtn, #cancelBtn {
	
	paddingLeft: 30;
	paddingRight: 30;
}

.bigButton 
{
	paddingBottom: 14;
	paddingTop: 14;	
}

.myLabel, .myDropDown
{
	fontFamily: michromaCFF;
	font-lookup: embeddedCFF;
	downColor: #000000;
}

.myDropDown 
{
	alternatingItemColors: null;
	contentBackgroundColor: #000000;
	contentBackgroundAlpha: 1;
	borderVisible: true;
	borderColor: #777700;
}

s|Scroller
{
	chromeColor: #FFFF00;
}

s|BusyIndicator
{
	symbolColor: #FFFF00; 
}

.radioBtn 
{
	paddingBottom: 4;
	paddingTop: 4;
	glossiness: 20;
}

#indivChartBtn
{
	paddingLeft: 15;
	paddingRight: 15;	
}

.application {
	
	backgroundColor: #000000;
	
}

#chartPanel {
	
	/* Font */
	fontFamily: arial;
	color: #777700;
	
	/* Background */
	chartBackgroundColor: #000000;
	chartBackgroundAlpha: 0;
	
	/* Grid */
	vGridStrokeColor: #777700;
	vGridStrokeAlpha: 1;
	hGridStrokeColor: #777700;
	hGridStrokeAlpha: 1;	
	vGridFillColor: #000000;
	vGridFillAlpha: 0.0;	
	hGridFillColor: #000000;
	hGridFillAlpha: 0.0;
	
	/*Series*/
	serie2DaysAgoColor: #333300;
	serie1DayAgoColor: #777700;
	serieTodayColor: #FFFF00;	
	serie2DaysAgoWidth: 3;
	serie1DayAgoWidth: 3;
	serieTodayWidth: 3;

}

#chartUpdatedLbl {	
	backgroundColor: #000000;
}

.fontChart {
	fontSize: 18;
}

s|TextInput {
	
	color: #998800; 
	contentBackgroundColor: #050505;
	textAlign: right;
	paddingBottom: 0;
	paddingTop: 0;
	
}


.selected, #fullScreenBtn
{
	chromeColor: #000000;
	backgroundColor: #000000;
	borderColor: #FFFF00; 
	color: #FFFF00;
	flat: true;
}

/* Font sizes */

.fontBig {
	fontSize: 42;
}

.fontDesign {
	fontSize: 32;
}

.fontMedium {
	fontSize: 18;
}

.fontSmall {
	fontSize: 14;
}

.fontVerySmall {
	fontSize: 10;
}

.colorPicker {

}



